<!-- views/layouts/main.handlebars -->
<!DOCTYPE html>
<html>
  <head>
    <title>My App</title>
  <link rel="stylesheet" href="../../public/css/style.css"> 
</head>
  <body>
    <main>
      {{{ body }}}
    </main>
  </body>
</html>
